/***********************************content-index**********************************/
.content-body {
	display: block;
	position: absolute;
	width: 100%;
	min-width: 1024px;
	height: 100%;
	min-height: 675px;
	background-image: url("../images/img/bg-body.png");
	background-repeat: no-repeat;
	background-size: cover;
}
/******************login-form*******************/
.contain-form {
	display: block;
	width: 450px;
	height: 330px;
	margin: 0 auto;
	margin-top: 230px;
	padding: 60px 100px; 
	background-image: url("../images/img/index/bg-form.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.login-form {
	display: block;
	width: 250px;
	font-family: "微软雅黑";
}
form.login-form .form-group {
	margin-bottom: 7px;
}
form.login-form label {
	color: #7a7a7a;
	font-size: 11px;
}
form.login-form input {
	color: #7a7a7a;
	border: 2px solid #ccc;
	border-radius: 3px;
	height: 37px;
}
form.login-form > button.btn-login {
	display: block;
	width: 117px;
	height: 35px;
	margin: 0 auto;
	margin-top: 40px; 
	background-image: url("../images/img/index/btn-login.png");
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid #ccc;
}
form.login-form > button.btn-login:hover {
	background-image: url("../images/img/index/btn-login.png");
	border: 0px solid #ccc;
}
.warn-form {
	display: block;
	width: 250px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	color: #04a9f4;
	font-family: "微软雅黑";
	font-size: 13px;
	text-align: center;
}
